.link{
    position: relative;
    padding-block: .5em;
    &::after{
        content: '';
        width: 0%;
        border-bottom: 3px solid whitesmoke;
        
        position: absolute;
        background-color: white;
       bottom: 0;
        left: 0;
        transition: width 1s ease-out;
    }
    &:hover::after{
        width: 100%;
        color:rgb(97, 97, 97);
    }
}
